/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-history
/.nrepl-port
.hgignore
.hg/
/resources/data/**/*.json
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log
resources/.nrepl-history
.calva/
.clj-kondo/
.cpcache/
.lsp/

resources/dev.database.edn