{:data-file-path #profile {:default #or [#env FSL_FILE_PATH "./resources"]
                           :dev     "target"}
 :database       #profile {:default {:host     #or [#env FSL_DB_HOST "localhost"]
                                     :port     #or [#env FSL_DB_PORT 1521]
                                     :user     #or [#env FSL_DB_USER "test"]
                                     :password #or [#env FSL_DB_PASSWORD "test"]
                                     :dbtype   "oracle"
                                     :dbname   #or [#env FLS_DB "ora9"]}
                           :dev     #include "dev.database.edn"}
 :server         #profile {:default {:port  #or [#env FSL_SERVER_PORT 3000]
                                     :join? true
                                     :host  #or [#env FSL_SERVER_HOST "localhost"]}
                           :dev     {:port  3000
                                     :join? false
                                     :host  "localhost"}}}

